.toolbar {
  & :global .MuiToolbar-root {
    padding-left: 10px;
  }
}

.logo {
  margin-right: 8px;
}

.logo-text {
  flex-grow: 1;
}

.menu-appbar {
  margin-top: 50px;
}

.logout-icon {
  color: var(--mui-palette-error-main);
}
