.container {
  & :global .MuiPaper-root {
    margin-bottom: 1em;
  }
}

.user-info {
  margin: 0;
}

.input-grid {
  & :global .MuiFormControl-root {
    width: 50%;
  }
}

.label {
  line-height: 2.5;
}

.alert-container {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.alert {
  width: 100%;
}
