.root-container {
  display: flex;
}

.logo {
  margin-right: 8px;
}

.logo-text {
  flex-grow: 1;
}

.menu-appbar {
  margin-top: 50px;
}

.logout-icon {
  color: var(--mui-palette-error-main);
}

.main-container {
  max-width: 0px;
}

.content {
  height: 100vh;
  flex-grow: 1;
  padding: 16px;
  overflow: auto;
}
