.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  max-width: 400px;
}

.form-field {
  margin-bottom: 16px;
}

.toggle-btn-container {
  display: flex;
  flex-flow: row-reverse;
}
