.new-button {
  display: flex;
  flex-direction: row-reverse;
}

.tb-cell {
  display: table-cell;
}

.no-tb-cell {
  display: none;
}

@media screen and (max-width: 900px) {
  .new-button :global .MuiButtonBase-root {
    width: 100%;
  }
}
